
.logo img{
width: 180px;
height: 180px;

}
.member-photo{
	width: 200px;
	height: 200px;
}
.membership-form-view th,td{
	width:25%;
}
.b-acc{
	font-weight: bold;
	color: #AF3268;
}
.b-acc-form{
	font-weight: bold;
	
}
.membership-form-view table{
	border: none;
}