body{
	background-color: #EEEBF3;
}
.logo img{
width: 180px;
height: 180px;

}
.member-photo{
	width: 200px;
	height: 200px;
}
.membership-form-view th,td{
	width:25%;
}
.b-acc{
	font-weight: bold;
	color: #AF3268;
}
.b-acc-form{
	font-weight: bold;
	
}
.membership-form-view table{
	border: none;
}
.member-form-header{
	background-color: #D9CFE6;
	padding: 5px;
	margin: 5px 0px 20px 0px;
}
.member-form-header h4{
	color: #c40000;
}
.member-form-body{
	background-color: #EAE5F1;
}
.my-captcha{
	font-size: 20px;
}